@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html, body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f7f5;
    color: #00473e;
    font-family: 'Poppins', sans-serif;
}

footer {
    font-weight: 300;
    height: 20px;    
    margin: 0 auto;
    text-align: center;
} 


.search-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    padding-top: 200px;
}

input {
    height: 50px;
    margin-bottom: 30px;
}

h1 {
    font-size: 70px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}


#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 920px) {
    .search-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }
}





